th{
    border:2px solid black;
    background-color: grey;
    color: whitesmoke;
}
td{
    border: 2px solid black;
}

.edit{
    background-color: bisque;
    border: 2px solid black;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
}

.delete{
    background-color: red;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    font-weight: bold;
}

.edit:hover{
    background-color: beige;
    cursor: pointer;
}

.delete:hover{
    background-color: chocolate;
    cursor: pointer;
}

/* headings inside links (e.g. Gallery List) */
a h1{
    text-decoration: none;
    border: 2px solid green;
    display: inline-block;
    padding: 4px 8px;
    color: inherit;
    background-color: white;
    border-radius: 10px;
}

.add{
    height: 40px;
    width: 140px;
    cursor: pointer;
    margin-right: 20px;
    background-color: green;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 1rem;
}

.add:hover{
    background-color: rgb(35, 214, 35);
    font-weight: bold;
}
