.album-detail {
    padding: 30px;
    margin-top: 130px;
}

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.album-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.album-grid img:hover {
    transform: scale(1.03);
}

/* LIGHTBOX */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-image {
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
}

.prev {
    left: 40px;
}

.next {
    right: 40px;
}