
.page-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 16px;
}

.page-content {
  width: 100%;
  margin-top: 35px;
}

/* RIGHT SIDEBAR ADS */
.global-ad-sidebar {
  position: sticky;
  top: 90px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 130px;
}

/* AD BOX */
.ad-box {
  width: 100%;
  height: 250px;
  background: linear-gradient(135deg, #c084fc, #9333ea);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 18px;
}

/* MOBILE */
@media (max-width: 1000px) {
  .page-layout {
    grid-template-columns: 1fr;
  }

  .global-ad-sidebar {
    position: static;
    flex-direction: row;
    overflow-x: auto;
  }

  .ad-box {
    min-width: 250px;
  }
}


.news-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 105px;
}

.news-main {
  width: 75%;
}

.ad-sidebar {
  width: 25%;
  position: sticky;
  top: 80px;
  height: fit-content;
}

.ad-box {
  /* margin-bottom: 20px; */
  border-radius: 10px;
  margin: 85px 10px 10px 10px;
  width: 99%;
  overflow: hidden;
}

.ad-box img {
  width: 100%;
  border-radius: 10px;
}

/* Mobile */
@media (max-width: 900px) {
  .news-layout {
    flex-direction: column;
  }

  .news-main,
  .ad-sidebar {
    width: 100%;
  }
}
