.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.controls button {
  background: none;
  border: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
